.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: #619b8a;
  color: #ffffff;
  padding-left: 71px;
  padding-right: 71px;
}

.footerInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.footerLeft {
  width: 104.5px;
  height: 22.03px;
}

.footerRight {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}
